.header {
	h1 {
		font-size: 72px;
	}
}

.sort_and_filter {
	display: flex;

	.sort_block,
	.filter_block {
		position: relative;

		&:last-child {
			margin-left: 20px;
		}
	}

	.popup {
		position: absolute;
		top: 0;
		left: 0;
		transition:2s;
		ul {
			background-color: #fff;
			border-radius: 10px;
			min-width: 190px;
			padding: 10px 10px;

			li {
				list-style-type: none;
				color: #000;
				padding: 5px 10px;
				transition: all 0.15s ease-in-out;

				&:hover {
					background-color: #dbdbdb;
					border-radius: 10px;
					cursor: pointer;
				}
			}
		}
	}

	button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 16px;
		border-radius: 10px;
		min-width: 210px;
		border: none;
		font: inherit;
		background-color: #262626;
		cursor: pointer;
		transition: all 0.2s ease-in-out;

		span {
			transition: all 0.2s ease-in-out;
			font-weight: bold;
		}

		&:hover {
			color: rgba(255, 255, 255, 0.5);

			span {
				color: rgba(255, 255, 255, 0.5);
			}
		}

		svg {
			transform: rotate(180deg);
		}
	}
}
