.wrapper {
	display: flex;
	justify-content: space-between;
	padding: 24px 0;
	align-items: center;

	.logo {
		margin-right: 16px;
	}
}

.auth {
	display: flex;
	flex-shrink: 0;
	margin-left: 16px;
	height: 60px;
	align-items: center;

	.login,
	.signup {
		border-bottom: 2px solid transparent;

		&:hover {
			border-color: inherit;
		}

		&:first-child {
			margin-right: 16px;
		}
	}
}
