* {
	margin: 0;
	color: #fff;
}

a {
	text-decoration: none;
}

body {
	background-color: #151515;
	font-family: 'Open Sans', 'Arial', sans-serif;
	padding: 0 40px;
	padding-bottom: 40px;
}

.wrapper {
	height: 100%;
	margin: 0 auto;
	min-width: 200px;
	max-width: 1500px;
	background-color: #151515;
	font-family: 'Open Sans', 'Arial', sans-serif;
}

.head {
	h1 {
		font-size: 72px;
	}
}

.sort_and_filter {
	display: flex;
}